	body
		{
			background-color:#1c222a;
		}
	#nav-bar
		{
			list-style-type: none;
			position: absolute; top: 30; left:-100;
			background-color:orange;
			margin: 100;
			padding: 0px;	
			width:150%;
		}
	
	li
		{
			display:inline;
		}
	#nav-bar a
		{
			text-decoration:none;
			color:#f1f1f1;
			padding:14px 22px;
			font-size:22px;	
			font-family: KoHo;	
		}
	#navs a:hover
		{
			background-color:#1c222a;
		}
	button
		{
			background-color:orange;
			color:white;
			padding:5px 10px;
			border:1px solid orange;

		
		}
	button:hover
		{
			background-color:#1c222a;
		}
		.icon-cart 
		{
			width: 48px;
			height: 48px;
			position: relative;
			overflow: hidden;
			margin-left: 1180px;
			margin-top: -30px;
		}

	.icon-cart .cart-line-1 
		{
			width: 15%;
			height: 7%;
			position: absolute;
			left: 8%;
			top: 25%;
			-webkit-transform: rotate(5deg);
			-moz-transform: rotate(5deg);
			-ms-transform: rotate(5deg);
			transform: rotate(5deg); 
			background-color: orange;
			border-bottom-left-radius: 35%;
		}

	.icon-cart .cart-line-2 
		{
			width: 35%;
			height: 7%;
			position: absolute;
			left: 6%;
			top: 40%;
			-webkit-transform: rotate(80deg);
			-moz-transform: rotate(80deg);
			-ms-transform: rotate(80deg);
			transform: rotate(80deg); 
			background-color: orange;
		}

	.icon-cart .cart-line-2:before 
		{
			content: "";
			width: 120%;
			height: 100%;
			position: absolute;
			left: 45%;
			top: -280%;
			-webkit-transform: rotate(-80deg);
			-moz-transform: rotate(-80deg);
			-ms-transform: rotate(-80deg);
			transform: rotate(-80deg); 
			background-color: orange;
		}

	.icon-cart .cart-line-2:after 
		{
			content: "";
			width: 70%;
			height: 100%;
			position: absolute;
			left: 59%;
			top: -670%;
			background-color: orange;
			-webkit-transform: rotate(40deg);
			-moz-transform: rotate(40deg);
			-ms-transform: rotate(40deg);
			transform: rotate(40deg); 
			border-top-left-radius: 50%;
			border-bottom-left-radius: 25%;
		}

	.icon-cart .cart-line-3 
		{
		  width: 30%;
		  height: 7%;
		  position: absolute;
		  left: 33%;
		  top: 45%;
		  background-color: orange;
		}

	.icon-cart .cart-line-3:after 
		{
		  content: "";
		  width: 124%;
		  height: 100%;
		  position: absolute;
		  top: -150%;
		  left: -5%;
		  background-color: orange;
		}

	.icon-cart .cart-wheel 
		{
		  width: 12%;
		  height: 12%;
		  background-color: orange;
		  border-radius: 100%;
		  position: absolute;
		  left: 28%;
		  bottom: 20%;
		}

    .icon-cart .cart-wheel:after 
		{
		  content: "";
		  width: 100%;
		  height: 100%;
		  background-color: orange;
		  border-radius: 100%;
		  position: absolute;
		  left: 200%;
		  bottom: 0;
		}
	#sbar
		{
			padding:0px 5px;
			font-size:24px;	
			font-family: KoHo;
			background-color:#1c222a;
			width:40%;
			outline:solid;
			outline-color:orange;
			
		}
	#sbar,select,option
		{
			color:#f1f1f1;
		}
	#sbar-icon
		{
			position: absolute; top: 61px; left:898px;
			font-size:20px;
			padding:8px;
			outline:solid orange;
			border:1px solid orange;
		}
	::placeholder 
		{
			color: white;
			opacity: 1;
			
		}
		.drop-login
		{
			position:absolute;top:50px;left:1040px;
			border:none;
			background-color:#1c222a:
		}	
	.dropdown
		{
			 float: left;
			 overflow: hidden;
		}

	.dropdown .dropbtn 
		{
			  font-size: 16px;  
			  border: none;
			  outline: none;
			  color: white;
			  font-weight:bold;
			  padding: 14px 16px;
			  font-family:Koho;
			  margin: 0;
			  
		}		



	.dropdown-content 
		{
			  display: none;
			  position: absolute;
			  background-color: #f9f9f9;
			  min-width: 160px;
			 
			  z-index: 1;
			  width:200px;
		}

	.dropdown-content a 
		{
			  float: none;
			  color: black;
			  padding-left:12px;
			  padding-right:12px;
			  text-decoration: none;
			  display: block;
			  text-align: left;
		}
	dropdown button
		{
			border-radius:25px;
		}
	.dropdown button:hover
		{
			background-color:orange;
		}

	.dropdown:hover .dropdown-content 
		{
			  display: block;
		}
	.dropdown-content
		{
			border-radius:15px;
		}
	.sidenav 
		{
			  height: 100%;
			  width: 0;
			  position: fixed;
			  z-index: 1;
			  top: 0;
			  left: 0;
			  background-color:#f1f1f1;
			  overflow-x: hidden;
			  transition: 0.5s;
			  padding-top: 60px;
		}

	.sidenav a 
		{
			  padding: 8px 8px 8px 32px;
			  text-decoration: none;
			  font-size: 25px;
			  color:#1c222a ;
			  display: block;
			  transition: 0.3s;
			  font-family: KoHo;
		}

	.sidenav a:hover 
		{
			color: orange;
		}

	.sidenav .closebtn 
		{
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		  margin-left: 50px;
		}

	#menu-button
		{	
			position:relative;right:-20px;top:-60px;
			padding-right:50px;
		}
	#cm
		{	
			margin:0px;
			padding:0px;
			border:solid;
			border-color:#1c222a;
			background-color:#1c222a	
		}
		#offer
		{
			border:solid;
			border-color:white;
			border-width:200%;
			width:80%;
			position:absolute;top:240px;right:10%;
			margin-right:auto;
			margin-left:auto;
			
		}
		.card 
		{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			width:17%;
			background-color:#f1f1f1;
			border:solid;
			border-color:#f1f1f1;
			border-radius: 25px;	
			font-family:koho;
		}

	.card:hover 
		{
			box-shadow: 0 8px 16px 0 gray;
		}

	.container 
		{
			padding: 2px 16px;
			background-color:#f1f1f1;
			font-family:koho;
		}
		
	.card button 
		{
		   border:solid;
		   border-color:#f1f1f1;
		   border-radius: 25px;
		   padding: 12px;
		   color: black;
		   background-color:white;
		   text-align: center;
		   width: 100%;
		   font-size: 18px;
		}
		
	.card button:hover
		{	
			background-color:rgb(255, 165, 0);	
		}
		
	.card img
		{	
			border-radius: 25px 25px 5px 5px;	
		}
		
	#block1
		{	
			position:absolute;top:700px;right:1010px	;
		}
		
	#block2
		{	
			position:absolute;top:700px;right:770px;	
		}
	#block3
		{
			position:absolute;top:700px;right:530px;	
		}
	#block4
		{
			position:absolute;top:700px;right:290px;	
		}	
	#block5
		{
			position:absolute;top:700px;right:50px;
		}
	#block6
		{
			position:absolute;top:1250px;right:1010px
		}
	#block7
		{
			position:absolute;top:1250px;right:770px
		}
	#block8
		{
			position:absolute;top:1250px;right:530px;
		}
	#block9
		{
			position:absolute;top:1250px;right:290px;
		}
	#block10
		{
			position:absolute;top:1250px;right:50px;
		}
	#block11
		{
			position:absolute;top:1800px;right:1010px
		}
	#block12
		{
			position:absolute;top:1800px;right:770px
		}
	#block13
		{
			position:absolute;top:1800px;right:530px;
		}
	#block14
		{
			position:absolute;top:1800px;right:290px;
		}
	#block15
		{
			position:absolute;top:1800px;right:50px;
		}
	#block16
		{
			position:absolute;top:2350px;right:1010px
		}
	#block17
		{
			position:absolute;top:2350px;right:770px
		}
	#block18
		{
			position:absolute;top:2350px;right:530px;
		}
	#block19
		{
			position:absolute;top:2350px;right:290px;
		}
	#block20
		{
			position:absolute;top:2350px;right:50px;
		}
		.container2 button 
	   {
		   cursor:pointer;
		   font-weight:bold;
		   border:2px solid;
		   border-color:orange;
		   border-radius: 25px;
		   color: black;
		   background-color:white;
		   width:20%;
		   font-size: 18px;
		   margin-top:-80px;
		   margin-left:50px;
		   z-index:1;
		   position:absolute;
		}

	.container2 button:hover 
		{
			background-color:rgb(255, 165, 0);	
		}
	#quantity
		{
			height: 2.4285714286rem;
			width: 4.2857142857rem;
			border:2px solid orange;
			border-radius: 10px;
			font-size:18px;
			padding-left: 5px;
			position:absolute;top:390px;left:410px;
			font-size: 18px;
			background-color:white;
			cursor:pointer;
		}


	#quantity:hover 
		{
			background-color:rgb(255, 165, 0);	
		}
	.imgcontainer 
		{
		  text-align: center;
		  margin: 24px 0 12px 0;
		  position: relative;
		  background-color:color;
		}

	img.avatar 
		{
		  width: 40%;
		  margin-right:70%;
		  margin-top:10%;
		  border-radius:0px;
		  border-color:orange;
 
		}

	.m-body
		{
		  padding: 16px;
		  background-color:white;
		  max-width:70%;
		}
	.m-body p
		{
		
		 position:absolute;top:40px;
		  margin-left:390px;
		  
		   max-width:70%;
		  
		}
	


	.modal 
		{
		  display: none; 
		  position: fixed; 
		  z-index: 1; 
		  left: 0;
		  top: 0;
		  width: 100%; 
		  height: 100%; 
		  overflow: auto; 
		  background-color: rgb(0,0,0); 
		  background-color: rgba(0,0,0,0.4); 
		  padding-top: 60px;
		}


	.modal-content 
		{
		  margin: 5% auto 15% auto; 
		  width: 70%;
		  height:63%;		  
		  background-color:white;
		  
		}
	.vl {
		  border-left: 535px solid #f1f1f1;
		  height: 538px;
		  position: absolute;
		  left: 50%;
		  margin-left: -90px;
		  top:0;
		}
		.star-rating checked
		{
			color: orange;
		}
	.close 
		{
		  position: absolute;
		  right: 25px;
		  top: 0;
		  color:black;
		  font-size: 35px;
		  font-weight: bold;
		  z-index:1;
		}

	.close:hover,
	.close:focus 
		{
		  color: red;
		  cursor: pointer;
		}


	.animate 
		{
		-webkit-animation: animatezoom 0.6s;
		  animation: animatezoom 0.6s
		}

	@-webkit-keyframes animatezoom 
		{
		  from {-webkit-transform: scale(0)} 
		  to {-webkit-transform: scale(1)}
		}
  
	@keyframes animatezoom 
		{
		  from {transform: scale(0)} 
		  to {transform: scale(1)}
		}


	@media screen and (max-width: 300px) 
		{
		 span.psw 
			{
				 display: block;
				 float: none;
			}
		.cancelbtn 
			{
                 width: 100%;
			}
			
		}
	#call-us
		{
			width:100%;
			position:absolute;top:2950px;margin-right:auto;margin-left:auto;
		}
	